body {
  background: #020024;
  background: radial-gradient(
    circle,
    rgb(255, 255, 255) 0%,
    rgb(72, 152, 218) 0%,
    rgb(60, 49, 212) 100%,
    rgb(59, 7, 202) 100%,
    rgb(63, 3, 230) 100%
  );
  background-size: cover;
}

/* styles.css */
/* body {
  height: 100vh; 
  margin: 0;
  background: linear-gradient(
    to top,         
    #f9fafb,         
    #d9f99d,         
    #86efac          
  );
} */

